// Colors

$primary: #315b2c;
$secondary: #3a6b34;
$primary-dark: #49564e;
$secondary-light: #3f7c3a;

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --primary-dark: #{$primary-dark};
    --secondary-light: #{$secondary-light};
}

