@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@layer base {
  :root {
    --primary: #3f7c3a;
    --secondary: #49564e;
    --primary-dark: #3a6b34;
    --secondary-light: #315b2c;
    --font-roboto: "Roboto", sans-serif;
  }

  html,
  body,
  :root {
    height: 100%;
    @apply !scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold tracking-tight leading-6;
  }

  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl my-5;
  }
}

